.submissionsContainer .shimmer {
  height: 70px;
}

.shimmer {
  position: relative;
  overflow: hidden;
  background: #ffffff0c;
  height: 200px;
  animation: shimmer 2.5s infinite linear;
  background: linear-gradient(to right, #ffffff0a 25%, #e2e2e209 5%);
  background-size: 1000px 100%;
  border-radius: 10px;
  /* border: 2px solid red; */
  border: 1px solid rgba(255, 255, 255, 0.055);
}

.submissionsContainer {
  grid-template-columns: repeat(auto-fill, 300px);
}

.container {
  grid-template-columns: repeat(auto-fill, 500px);
}

.submissionsContainer,
.container {
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
